# Notion
NOTION_API_KEY=secret_xxxx

NOTION_DB_INDUSTRIES=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_ENJEUX=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_PAINPOINTS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_SOLUTIONS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_CAPACITES=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_FONCTIONNALITES=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_BENEFICES=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_PERSONAS=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Anthropic
ANTHROPIC_API_KEY=sk-ant-xxxx
